
/* Set ALL HTML elements with border-box sizing */

* {
    box-sizing: border-box;
    }

/* properties for classes */

.text-center {
    text-align: center;
    }

.round-corners {
    display: block;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

/* properties for containers */

header, main, section, article {
    background-color: rgb(65, 64, 64);
    font-family: adobe-clean, Arial, Helvetica, sans-serif;
    color: #dfe0e2;
    font-size: 20px;
    }

header {
    width: 100%;
    margin: auto;
    padding: 20px;
    }

section {
    width: 100%;
    margin: 0;
    padding: 50px 192px 50px 192px;
    }

article {
    width: 100%;
    margin: 0;
    padding: 20px 192px 20px 192px;
    }

footer {
    background-color: rgb(172, 192, 216);
    font-family: adobe-clean, Arial, Helvetica, sans-serif;
    height: 100px;
    padding: 20px 100px 20px 100px;
    }

/* properties for hr */

hr {
    background-color: rgb(172, 192, 216);
    width: 768px;
    height: 3px;     
    }

/* additional properties for fonts in h, ol, ul */

h1 h2 ol ul {
    font-family: adobe-clean, Arial, Helvetica, sans-serif;
    color: #dfe0e2;
    }

h1 {
    font-size: 40px;
    }

h2 {
    font-size: 28px;
    }

h3 {
    font-size: 16px;
    color: rgb(65, 64, 64);
    }

/* properties for a */

a {
    font-family: adobe-clean, Arial, Helvetica, sans-serif;
    font-size: 20px;
    }

a:link    {color: #dfe0e2}
a:visited {color:rgb(158, 199, 250)}
a:hover   {color:rgb(87, 159, 248)}
