.text-center {
    text-align: center;
  }
  
  header footer {
    background-color: rgb(190, 190, 190);
    font-family: adobe-clean, Arial, Helvetica, sans-serif;
    height: 60px;
  }
  
  main {
    background-color: rgb(65, 64, 64);
    font-family: adobe-clean, Arial, Helvetica, sans-serif;
    color: #dfe0e2;
    font-size: 20px;    
  }
  
  hr {
      background-color: #bcc6db;
      width: 40%;
      height: 3px;
      margin-top: 50px;
      margin-bottom: 40px;
  }

  h1 h2 ol ul {
    font-family: adobe-clean, Arial, Helvetica, sans-serif;
    color: #dfe0e2;
  }
